{
  "presets": [
    ["@babel/env", { "modules": "cjs" }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "emotion",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "syntax-dynamic-import"
  ],
  "ignore": ["src/**/*.stories.tsx", "src/**/*.test.tsx", "src/setupEnzyme.ts"]
}
