{
  "presets": [
    ["@babel/env", { "targets": "last 2 versions", "loose": true }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "ignore": ["src/**/*.stories.tsx", "src/**/*.test.tsx", "src/setupEnzyme.ts"],
  "env": {
    "production": {
      "plugins": [["emotion", { "hoist": true }]]
    },
    "development": {
      "plugins": [["emotion", { "sourceMap": true, "autoLabel": true }]]
    }
  }
}
